@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.my-hover{
  @apply transition-all duration-500 ease-in
}
.span-gray{
  @apply font-light text-gray-600 ml-1
}
.classes-li{
  @apply text-left  my-hover hover:bg-gray-700 cursor-pointer rounded-sm p-1 px-2 hover:text-white
}